*{
	padding:100;
	margin:0;
}
body{
	
	font: 14px sans-serif;
}
.box{
		width: 350px; 
        padding: 20px; 
        border:2px solid violet;
        margin-top:10%;
        margin-left:35%;
        padding:2%;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
#email{
	border:1px solid lightgray;
	border-radius: 5px;
	width:98%;
	margin-top: 1%;
	height: 30px;
	margin-bottom: 5%;
	text-indent: 5px;
}
#new_pass, #confirm_pass{
	border:1px solid lightgray;
	border-radius: 5px;
	width:98%;
	margin-top: 1%;
	height: 30px;
	margin-bottom: 5%;
	text-indent: 5px;
}
.btn{
     background-color: #989898;
     border:1px solid lightgray;
     width: 80px;
     height: 30px;
     border-radius: 10px;
     float:right;
     margin-right: 2%;
     color:#fff;
}
.btn:hover{
     background-color: #D8D8D8;
     border:1px solid gray;
     color:#000;
}
#back{
	float:left;
	font-size: 16px;
	text-align: center;
	margin-top: 2%;
	margin-left: 1%;
}